[user]
	email = change.tsai@gmail.com
	name = Tsai1005
[push]
	default = simple
[core]
	editor = vim
[alias]
	st = status 
	co = checkout
	br = branch
	mg = merge
	ci = commit -s
	dt = difftool
	mt = mergetool
    last = log -1 HEAD
    cf = config
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
